h1{
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: black;
}

body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   text-align: center;
   padding: 20px;
}

header h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

nav ul {
    list-style:none;
    padding: 0;
    margin: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
     text-decoration: none;
     color: #007BFF;
     font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-top: 30px;
}

.coluna{
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.coluna:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 15px;
    color: #444;
}

.conteudo {
    display: none;
    font-size: 1.1em;
    color: #555;
    line-height: 1.5;
}

.check:checked + .conteudo {
    display: block;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th,td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: #888;
    position: fixed;
}

.check {
    display: none;
}