<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Status</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
  <div class="container">
    <h1><%= username %></h1>
    <a href="/login">Voltar ao Login</a>
  </div>
</body>
</html>
